<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Список книг библиотеки</title>
</head>
<body>
<header>
    <a th:href="@{/}">На главную</a>&emsp;
    <a th:href="@{/admin}">Список пользователей</a>&emsp;
    <a th:href="@{/logout}">Выйти "<span sec:authentication="name"></span>"</a>
</header>
<br>
<h3>Добавить нового пользователя:</h3>
<div>
    <form th:action="@{/admin/registration}" th:object="${newUser}" method="POST">
        <div><b>Username:</b></div>
        <input type="text" name="name" th:field="*{username}"/>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error...</div>
        <div><b>Password:</b></div>
        <input type="password" name="pass" th:field="*{password}"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error...</div>
        <div><b>Выберите роль:</b></div>
        <select th:field="*{role}">
            <option th:each="r : ${T(com.example.sshomework.dto.user.RolesUser).values()}" th:value="${r}"
                    th:text="${r}"></option>
        </select>
        <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error...</div>
        <br><br>
        <div><input type="submit" value="Добавить"/></div>
    </form>
</div>
</body>
</html>