<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Список книг библиотеки</title>
</head>
<body>
<header>
    <a th:href="@{/}">На главную</a>&emsp;
    <a th:href="@{/admin/registration}">Добавить нового пользователя</a>&emsp;
    <a th:href="@{/logout}">Выйти "<span sec:authentication="name"></span>"</a>
</header>
<br>
<h3>Список пользователей:</h3>
<div>
    <table border="1">
        <tr>
            <th>№</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Дата входа/попытки</th>
            <th>Количество попыток</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:text="${user.id}">...</td>
            <td th:text="${user.username}">...</td>
            <td th:text="${user.role}"></td>
            <td th:text="${#temporals.format(user.dateTimeInput, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${user.loginAttemptInput}"></td>
        </tr>
    </table>

</div>
</body>
</html>