<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Список книг библиотеки</title>
<body>
<header>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Администрирование</a>&emsp;
        <a th:href="@{/logout}">Выйти "<span sec:authentication="name"></span>"</a>
    </div>
    <a th:href="@{/login}" sec:authorize="not isAuthenticated()">Войти</a>
</header>
<div sec:authorize="hasRole('USER')">
    <h2>Пользователь:</h2>
    <div>
        <div>
            <span><b>Id:</b></span><span th:text="${person.id}"></span>
        </div>
        <div>
            <span><b>ФИО:</b></span><span th:text="${person.getFullName()}"></span>
        </div>
        <div>
            <span><b>Дата рождения:</b></span><span th:text="${person.dateOfBirth}"></span>
        </div>
    </div>
    <h4 th:text="${not #lists.isEmpty(person.booksDto)} ? 'Книги в пользовании' : 'Нет книг в пользовании...'"></h4>
    <table border="1" th:if="${not #lists.isEmpty(person.booksDto)}">
        <tr>
            <th>№ Карточки</th>
            <th>Название</th>
            <th>Дата получения</th>
            <th>Дата возврата</th>
        </tr>
        <tr th:each="pbooks : ${person.booksDto}">
            <td th:text="${pbooks.id}">...</td>
            <td th:text="${pbooks.bookDto.bookName}">...</td>
            <td th:text="${#temporals.format(pbooks.dateTimeCreated, 'dd-MM-yyyy HH:mm')}">...</td>
            <td th:text="${#temporals.format(pbooks.dateTimeReturn, 'dd-MM-yyyy HH:mm')}">...</td>
        </tr>
    </table>
</div>
<h2>Список книг в библиотеке</h2>
<div>
    <table border="1">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Дата публикации</th>
            <th>Статус</th>
        </tr>
        <tr th:each ="book : ${books}">
            <td th:text="${book.id}">...</td>
            <td th:text="${book.bookName}">...</td>
            <td th:text="${book.authorBook}">...</td>
            <td th:text="${book.genreList}">...</td>
            <td th:text="${book.datePublication}">...</td>
            <td th:text="${book.status}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
